.signupgoogle{
    margin-top: 16rem;
    margin-left: 31rem;
    display: flex;
    text-align: center;
    align-items: center;

}
.sign{
    margin: 2rem 1rem;
    font-size: 2rem;
    background-color: rgb(119, 7, 119) ;
    border: 1px solid rgb(234, 190, 238);
    color: rgb(242, 245, 248);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
}
.sign:hover{
    cursor: pointer;
    color: rgb(119, 7, 119) ;
    background-color: rgb(247, 234, 247) ;
     box-shadow: 3px 3px 3px 3px rgb(71, 1, 71);
    border: 1px solid rgb(56, 1, 61);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;

}
/* .signn{
    margin: 2rem 2rem;
    font-size: 2rem;
    background-color: rgb(119, 7, 119) ;
    border: 1px solid rgb(234, 190, 238);
    color: rgb(242, 245, 248);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
}
.signn:hover{
    cursor: pointer;
    color: rgb(119, 7, 119) ;
    background-color: rgb(247, 234, 247) ;
    box-shadow: 3px 3px 3px 3px rgb(71, 1, 71);
    
    border: 1px solid rgba(72, 2, 78, 0.932);
    font-family: Arial, Helvetica, sans-serif;


} */

.google{
    width: 4rem;
    height: 4rem;
    margin-left: 3.4rem;
    margin-top: 1rem;


}