.cartsum{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(160, 6, 152);
    width: 60%;
    margin-left: 21rem;
    margin-top: 3rem;
    
}
.cartshow{
    margin-top: 4rem;
    margin-left: 4rem;
    color: rgb(184, 5, 160);
    opacity: 21;

}
.click{
    width: 4%;
    height: 4%;
    margin-top: 4rem;
    margin-left: 4rem;
    border: 1px solid rgb(252, 36, 169);


}
.click:hover{
    border: 1px solid rgb(34, 253, 5);
    cursor: pointer;
}
.total{
    margin-left: 61rem;
    color: rgb(243, 135, 12);
    font-size: 1.2rem;


}
.green{
    color: green;
    opacity: 33;
    font-size: 2rem;
}
.quan{
    margin-top: 3.6rem;
    margin-left: 4rem;
    font-size: 1.8rem;
    font-family: sans-serif;
}
.rupee{
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 1.3rem;
    opacity: 18;
    color: rgb(253, 155, 7);

}
.delete{
    width: 5.7rem;
    height: 1.6rem;
    margin-left: 2.3rem;
    margin-top: 3.8rem;
    border: 1px solid rgb(246, 250, 246);
    opacity: 12;
    color: #ffffff;
    background-color: rgb(63, 2, 58);
    border-radius: 6px;

    /* font-size: 1rem; */
}
.delete:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #ff1706;
    border: 1px solid rgb(249, 250, 245);
    border-radius: 6px;
    opacity: 12;

}